/* väripaletti */
/* #3d5a80 // #98c1d9 // #e0fbfc // #ee6c4d //#293241 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0fbfc;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

/* HEADERI */

.logo {
  color: hsl(0, 0%, 57%);
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
}

.navigation {
  align-items: center;
}

.header {
  height: 55px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: hsla(0, 0%, 18%, 0);
  z-index: 999;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0;
}

.navigation a {
  transition: .15s ease-in;
  color: hsl(0, 0%, 57%);
  text-decoration: none;
  font-size: 0.8rem;
}

.navigation a:hover {
  color: #98c1d9;
}

.navigation a.contact {
  padding: 12px 16px;
  border-radius: 42px;
  background-color: #293241;
  color: #e0fbfc;
}

.navigation a.contact:hover {
  background-color: #ffffff00;
  color: hsl(0, 0%, 57%);
}

/*mobiilimenu*/

.hampurilais-valikko {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.hampurilais-valikko ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hampurilais-valikko li {
  height: 50px;
  color: #293241;
}

.hampurilais-valikko a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 57%);
}

.sidebar a:hover {
  background-color: #2c2c2c1c;
}

.hampurilais-valikko li:first-child {
  margin-right: auto;
}

.sidebar {
  margin-top: 0;
  position: fixed;
  top: 0;
  right: -107%;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all ease-in-out 1s;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media(max-width: 1010px) {
  .navigation {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .header {
    position: absolute;
    justify-content: space-between;
  }

  .logo {
    margin-left: 6%;
  }
}

@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/*Profiili*/

.profiili-omakuva-container {
  display: flex;
  flex-direction: column;
}

.omakuva {
  max-width: 20%;
  height: auto;
  margin: 0;
  padding-left: 7%;
}

@media(max-width: 1500px) {
  .omakuva {
    max-width: clamp(150px, 20vw, 400px);
    height: auto;
  }
}

.profiili-container {
  margin: 0;
  padding: 0;
  clear: both;
}

.profiili {
  background-color: #3d5a80;
  padding-left: 14%;
  padding-right: 25px;
  width: 55%;
  float: left;
  color: #e0fbfc;
  padding-top: 35px;
  padding-bottom: 35px;
}

*h2 {
  font-weight: bold;
}

.profiili p {
  font-size: clamp(0.8rem, 4vw, 1.3rem);
}

/*Työkokemus*/

.työkokemus {
  font-size: 1.2rem;
  color: #e0fbfc;
  background-color: #ee6c4d;
}

.työkokemus h2 {
  padding-top: 30px;
  margin-top: 40px;
  font-size: 2.5rem;
}

.työkokemus ul {
  padding: 0;
}

.työkokemus-portfolio-container {
  clear: both;
  display: flex;
  flex-direction: column;
  height: 70%;
}

.työkokemus-lista {
  padding: 25px 30px;
  padding-left: 45px;
  border-bottom: #e0fbfc solid 1px;
}

.työkokemus-lista:first-child {
  padding-top: 10px;
}

.työkokemus-lista:last-child {
  border: none;
}

.työkokemus-lista-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: repeat(7, min-content);
}

@media only screen and (max-width: 1600px) {
  .työkokemus-portfolio-container {
    display: flex;
    flex-direction: column;
  }
}

/*porfolio*/

.portfolio-section {
  clear: both;
  display: flex;
  place-content: center;
  min-height: 1300px;
  overflow: hidden;
  background-color: #293241;
  color: #e0fbfc;
}

.portfolio-container {
  width: 80%;
  height: 100%;
  margin-bottom: 80px;
}

.portfolio-container h2 {
  padding-top: 30px;
  margin-top: 40px;
  font-size: 2.5rem;
}

.projektit {
  border: #e0fbfc solid 6px;
  border-radius: 45px;
  height: 100%;
  width: 100%;
  padding: 9px 30px;
}

.projekti-otsikko {
  font-size: 2rem;
}

.projekti-teksti {
  font-size: clamp(0.9rem, 1.1vw, 2rem);
}

.projekti-button {
  color: #e0fbfc;
}

.portfolio-työt {
  display: inline-grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 52px);
  row-gap: 15px;
}

@media only screen and (max-width: 800px) {
  .portfolio-työt {
    padding: 20px;
    place-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .projektit {
    padding-bottom: 40px;
  }
}

#projekti1 {
  grid-column: 2 / 9;
  grid-row: 2 / 7;
}

#projekti2 {
  grid-column: 12 / 19;
  grid-row: 4 / 9;
}

#projekti3 {
  grid-column: 11 / 18;
  grid-row: 16 / 20;
  margin-top: 12px;
}

#projekti4 {
  grid-column: 9 / 20;
  grid-row: 10 / 15;
}

#projekti5 {
  grid-column: 1 / 6;
  grid-row: 9 / 19;
}

#projekti6 {
  grid-column: 8 / 16;
  grid-row: 21 / 22;
}

#projekti7 {
  grid-column: 1 / 5;
  grid-row: 21 / 24;
}

#projekti2 .projekti-otsikko {
  margin-bottom: 0;
}

/*tutkinnot*/

.tutkinnot-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 500px;
  margin: 8% 7%;
  font-size: 1.5rem;
  color: #293241;
}

@media only screen and (max-width: 600px) {
  .tutkinnot-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}

.tutkinnot-container-otsikko,
.tutkinnot-container-lista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutkinnot {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.tutkinnot div {
  padding: 4rem 0;
  text-align: center;
  width: 60%;
}

.peruskoulu {
  line-height: 2.5rem;
}

.tutkinnot-container-lista div {
  list-style-type: none;
}

/*tadotjakiinnostus*/
.tadotjakiinnostus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293241;
}

.taidot-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 800px;
  color: #e0fbfc;
  padding: 4rem 0;
}

.tadotjakiinnostus h2,
.tadotjakiinnostus h4 {
  text-align: center;
}

.tadotjakiinnostus-taidot {
  display: grid;
  grid-template-rows: repeat(1fr, 4);
  height: 80%;
  width: 80%;
  padding-bottom: 40px;
}

.kielet-ja-it-taidot-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}

@media only screen and (max-width: 600px) {
  .kielet-ja-it-taidot-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.tadotjakiinnostus-kielet {
  grid-column: 2;
}

.tadotjakiinnostus-it-taidot {
  grid-column: 4;
}

.tadotjakiinnostus-it-taidot,
.tadotjakiinnostus-kielet {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 50px;
}

/*tadotjakiinnostus-progressbar*/

.skill-container {
  position: relative;
  max-width: 500px;
  width: clamp(200px, 8vw, 500px);
  width: 100%;
  z-index: 1;
}

.skill-container .skill-box {
  width: 100%;
}

.skill-box .title {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

.skill-box .skill-bar {
  height: 15px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.2);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 95%;
  border-radius: 6px;
  background-color: #ee6c4d;

}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.kielet-ja-it-taidot-container.in-view {
  .skill-bar .skill-per {
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }

  .skill-per.englanti {
    width: 61%;
    animation-delay: 0.1s;
  }

  .skill-per.ruotsi {
    width: 12%;
    animation-delay: 0.2s;
  }

  .skill-per.word {
    width: 39%;
    animation-delay: 0.3s;
  }

  .skill-per.excel {
    width: 23%;
    animation-delay: 0.4s;
  }

  .skill-per.wordpress {
    width: 38%;
    animation-delay: 0.5s;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 12px;
  font-weight: 500;
  color: #e0fbfc;
  padding: 2px 6px;
  border-radius: 3px;
  background: #ee6c4d;
  z-index: -1;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #ee6c4d;
  transform: translateX(-50%) rotate(45deg);
}

/*tadotjakiinnostus-progressbar-circle*/

.skill {
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 1;
  margin: 10px 20px;
}

.outer {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #293241;
}

#number {
  font-weight: 600;
}

circle {
  fill: none;
  stroke: #ee6c4d;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  transition: stroke-dashoffset 1s ease-out;
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="35"] circle {
    animation: anim35 .7s ease-in-out forwards;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="42"] circle {
    animation: anim42 .7s ease-in-out forwards;
    animation-delay: 0.2s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="40"] circle {
    animation: anim40 .7s ease-in-out forwards;
    animation-delay: 0.4s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="15"] circle {
    animation: anim15 .7s ease-in-out forwards;
    animation-delay: 0.6s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="10"] circle {
    animation: anim10 .7s ease-in-out forwards;
    animation-delay: 0.8s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="10"] circle {
    animation: anim10 .7s ease-in-out forwards;
    animation-delay: 0.8s;
  }
}

@keyframes anim35 {
  to {
    stroke-dashoffset: 306.8;
  }
}

@keyframes anim42 {
  to {
    stroke-dashoffset: 273.7;
  }
}

@keyframes anim40 {
  to {
    stroke-dashoffset: 283.2;
  }
}

@keyframes anim15 {
  to {
    stroke-dashoffset: 401.2;
  }
}

@keyframes anim10 {
  to {
    stroke-dashoffset: 424.8;
  }
}

svg {
  position: absolute;
}

.tadotjakiinnostus-ohjelmoitikielet {
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;
  text-align: center;
}

.title {
  z-index: 2;
}

/*harrastukset*/

.harrastukset h4 {
  text-align: center;
  font-size: 1.5rem;
  margin: 7% 0;
  color: #e0fbfc;
}

.laatikot-container {
  box-sizing: border-box;
  text-transform: capitalize;
  width: 80%;
  margin: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
  gap: 3.5rem;
}

.kortti {
  padding: 2rem;
  border-radius: 15px;
  transition: .42s ease-in;
  background-color: #3d5a80;
  color: #e0fbfc;
}

.kortti h3 {
  color: #e0fbfc;
  font-size: 1.7rem;
}

.kortti:hover {
  transform: translateY(-10px);
}

.kortti-otsikko {
  margin-bottom: 2rem;
}

.kortti-kuva {
  margin-bottom: 2rem;
}

.kortti-teksti {
  text-transform: none;
}

/* footteri */

footer {
  background-color: #293241;
  margin-top: 7rem;
  height: 30vh;
  color: #e0fbfc;
  display: grid;
  grid-template-rows: 8fr 1fr;
  padding-top: 40px;
}

.footer-box {
  padding: 40px;
  display: flex;
  place-content: center;
  background-color: #293241;
  font-size: 1.2rem;
}

.footer-container {
  display: grid;
  width: 60%;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: max-content;
}

@media(max-width: 1400px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
  }

  .form-container {
    margin-bottom: 30px;
  }
}

.footer-yhteystiedot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yhteystideo-container {
  text-decoration: none;
  display: grid;
  justify-content: center;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: max-content;
  row-gap: 15px;
}

.sosial-container {
  margin-top: 12px;
  font-size: 1.5rem;
  display: flex;
  column-gap: 15px;
}

.footerpohja {
  background-color: #293241;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fa-phone,
.fa-envelope {
  margin-right: 7px;
}

/* contact form */

.dark .text,
.dark .textarea {
  background: transparent;
  width: 100%;
  border: #e0fbfc solid 3px;
  color: #e0fbfc;
  border-radius: 13px;
  padding: 10px;
  font-size: 1rem;
  outline: 0;
  margin-bottom: 30px;
  cursor: text;
}

.form-field {
  position: relative;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #e0fbfc;
  transition: ease-in 0.2s;
  cursor: text;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  min-width: 600px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -32px;
  font-size: 0.7rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .form-field {
  flex-basis: 46%;
}

@media(max-width: 744px) {
  .row {
    display: block;
    justify-content: stretch;
  }

  .contact-form {
    min-width: 80%;
  }

  .sosial-container {
    justify-content: center;
    text-align: center;
  }

  .yhteystideo-container,
  .btn-submit,
  .footer-box {
    font-size: clamp(0.5rem, 5vw, 1rem);
  }

  .form-container {
    flex-direction: column;
  }
}

.btn-submit {
  border: none;
  background-color: #ee6c4d;
  padding: 10px 15px;
  border-radius: 13px;
  cursor: pointer;
  font-size: 1.2rem;
}

.dark .btn-submit:hover,
.dark .btn-submit:focus {
  background-color: hsl(12, 83%, 67%);
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}