body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADERI */

.logo {
  color: hsl(0, 0%, 83%);
  margin-left: 5%;
  font-size: 19px;
  text-decoration: none;
}

.navigation {
  align-items: center;
}

.header {
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: hsl(0, 0%, 18%);
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin: 0;
}

.navigation a {
  padding: 14px 16px;
  transition: .15s ease-in;
  color: hsl(0, 0%, 57%);
  text-decoration: none;
  font-size: 0.8rem;
}

.navigation a:hover {
  color: rgb(226, 226, 226);
}

.navigation a.contact {
  padding: 12px 16px;
  border-radius: 42px;
  background-color: hsl(0, 0%, 30%);
  color: white;
}

.navigation a.contact:hover {
  background-color: #ffffff00;
}

/*Profiili*/

.profiili-container {
  margin-top: 140px;
}

.profiili {
  background-color: rgba(0, 425, 425, 0.233);
  padding-left: 15vmin;
  width: 55%;
  float: left;
  font-size: 1.3rem;
}

*h2 {
  font-weight: bold;
}

/*Työkokemus*/

.työkokemus {
  margin-top: 160px;
  clear: left;
}

/*porfolio*/

.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2200px;
  background-color: rgb(47, 54, 62);
  color: whitesmoke;
}

.portfolio-container {
  width: 80%;
  height: 100%;
}

.portfolio-container h2 {
  margin-top: 40px;
  font-size: 3rem;
}

.projektit {
  border: whitesmoke solid 6px;
  border-radius: 45px;
  height: 100%;
  width: 100%;
  padding: 9px 30px;
}

.projekti-otsikko {
  font-size: 2.2rem;
}

.projekti-teksti {
  font-size: 1.5rem;
}

.portfolio-työt {
  display: grid;
  grid-template-columns: repeat(20, 2fr);
  grid-template-rows: repeat(20, 96px);
}

#projekti1 {
  grid-column: 2 / 9;
  grid-row: 2 / 7;
}

#projekti2 {
  grid-column: 12 / 19;
  grid-row: 4 / 8;
}

#projekti3 {
  grid-column: 11 / 18;
  grid-row: 15 / 20;
  margin-top: 12px;
}

#projekti4 {
  grid-column: 8 / 20;
  grid-row: 9 / 14;
}

#projekti5 {
  grid-column: 1 / 6;
  grid-row: 9 / 19;
}

#projekti2 .projekti-otsikko {
  margin-bottom: 0rem;
}

/*tutkinnot*/
.tutkinnot-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  margin: 8% 7%;
  font-size: 1.5rem;
  color: #333;
}

.tutkinnot-container-otsikko,
.tutkinnot-container-lista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutkinnot-container-lista {
  line-height: 6rem;
}

.tutkinnot-container-lista li {
  list-style-type: none;
}

.tutkinnot-container-lista li:nth-child(2),
.tutkinnot-container-lista li:nth-child(1) {
  border-bottom: hsl(0, 0%, 13%) solid 3px;
}

/*tadotjakiinnostus*/
.tadotjakiinnostus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background-color: hsl(212, 14%, 21%);
  color: whitesmoke;
  padding: 4rem 0;
}

.tadotjakiinnostus h2,
.tadotjakiinnostus h4 {
  text-align: center;
}

.tadotjakiinnostus-taidot {
  display: grid;
  grid-template-rows: 60px 1fr 60px 1fr;
  height: 80%;
  width: 80%;
}

.kielet-ja-it-taidot-container {
  display: flex;
  justify-content: space-around;
}

.tadotjakiinnostus-it-taidot,
.tadotjakiinnostus-kielet {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

/*tadotjakiinnostus-progressbar*/
.skill-container {
  position: relative;
  min-width: 500px;
  width: 100%;
  z-index: 1;
}

.skill-container .skill-box {
  width: 100%;
}

.skill-box .title {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

.skill-box .skill-bar {
  height: 15px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.2);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 95%;
  border-radius: 6px;
  background-color: hsl(212, 14%, 50%);

}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.kielet-ja-it-taidot-container.in-view {
  .skill-bar .skill-per {
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }

  .skill-per.englanti {
    width: 61%;
    animation-delay: 0.1s;
  }

  .skill-per.ruotsi {
    width: 12%;
    animation-delay: 0.2s;
  }

  .skill-per.word {
    width: 39%;
    animation-delay: 0.3s;
  }

  .skill-per.excel {
    width: 23%;
    animation-delay: 0.4s;
  }

  .skill-per.wordpress {
    width: 38%;
    animation-delay: 0.5s;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: hsl(212, 14%, 50%);
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: hsl(212, 14%, 50%);
  transform: translateX(-50%) rotate(45deg);
}

/*tadotjakiinnostus-progressbar-circle*/

.skill {
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 1;
}

.outer {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: hsl(212, 14%, 21%);
}

#number {
  font-weight: 600;
}

circle {
  fill: none;
  stroke: hsl(212, 14%, 50%);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  transition: stroke-dashoffset 1s ease-out;
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="38"] circle {
  animation: anim38 .7s ease-in-out forwards;
  animation-delay: 0.1s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="42"] circle {
  animation: anim42 .7s ease-in-out forwards;
  animation-delay: 0.3s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="46"] circle {
  animation: anim46 .7s ease-in-out forwards;
  animation-delay: 0.5s;
  }
}

.tadotjakiinnostus-ohjelmoitikielet.in-view {
  .skill[data-target="22"] circle {
  animation: anim22 .7s ease-in-out forwards;
  animation-delay: 0.7s;
  }
}

@keyframes anim38 {
  to {
    stroke-dashoffset: 292;
  }
}

@keyframes anim42 {
  to {
    stroke-dashoffset: 273;
  }
}

@keyframes anim46 {
  to {
    stroke-dashoffset: 264;
  }
}

@keyframes anim22 {
  to {
    stroke-dashoffset: 368;
  }
}

svg {
  position: absolute;
}

.tadotjakiinnostus-ohjelmoitikielet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

/*harrastukset*/

.harrastukset h4 {
  text-align: center;
  font-size: 1.5rem;
  margin: 7% 0;
}

.laatikot-container {
  box-sizing: border-box;
  text-transform: capitalize;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2rem;
}

.kortti {
  flex-shrink: 0;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 .4rem .4rem rgba(0, 0, 0, 0.171);
  transition: .42s ease-in;
}

.kortti:hover {
  transform: translateY(-17px);
}

.kortti-otsikko {
  margin-bottom: 2rem;
}

.kortti-kuva {
  margin-bottom: 2rem;
}