body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* HEADERI */

  .logo {
    color: hsl(0, 0%, 83%);
    margin-left: 5%;
    font-size: 19px;
    text-decoration: none;
  }
  .navigation {
    align-items: center;
  }
  .header {
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: hsl(0, 0%, 18%);
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: 0;
  }
  .navigation a {
    padding: 14px 16px;
    transition: .15s ease-in;
    color: hsl(0, 0%, 57%);
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  .navigation a:hover {
    color: rgb(226, 226, 226);
  }
  
  .navigation a.contact {
    padding: 12px 16px;
    border-radius: 25px;
    background-color: #525252;
    color: white;
  }
  .navigation a.contact:hover {
    background-color: #ffffff00;
  }

  /*Profiili*/

  .profiili-container {
    margin-top: 140px;
  }
  .profiili {
    background-color: rgba(0, 255, 255, 0.233);
    padding-left: 15vmin;
    width: 55%;
    float: left;
    font-size: 1.3rem;
  }
  *h2{
    font-weight: bold;
  }

  /*Työkokemus*/

  .työkokemus {
    margin-top: 160px;
    clear: left;
  }

  /*porfolio*/

  .portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1300px;
    background-color: black;
    color: whitesmoke;
  }
  .portfolio-container {
    padding: 95px;
  }
  .projektit {
    border: whitesmoke solid 4px;
    border-radius: 25px;
  }
  .porfolio-työt {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
  }
  #1 {
    grid-row: 1;
    grid-column: 1;
  }

  /*korttilaatikko*/

  .laatikot-container {
    box-sizing: border-box;
    text-transform: capitalize;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .kortti {
    flex-shrink: 0;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 .4rem .4rem rgba(0, 0, 0, 0.171);
    transition: .25s ease-in;
  }
  .kortti:hover {
    transform: translateY(-17px);
  }
  .kortti-otsikko {
    margin-bottom: 2rem;
  }
  .kortti-kuva {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 1450px) {
    .laatikot-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width: 1000px) {
    .laatikot-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 600px) {
    .laatikot-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }